body {
  font-family: Arial, Helvetica, sans-serif;
}

#main {
  margin: 0 auto;
  width: 1000px;
  position: relative;
  top: 50px;
}

h1 {
  line-height: .8em;
}

nav {
  padding: 15px 50px 0 0;
  height: 50px;
}

nav img {
  width: 30px;
  height: 30px;
  float: right;
  margin: 0 0 0 30px;
}

#first {
  margin-top: 250px;
}

.section {
  max-width: 850px;
  display: flex;
  justify-content: left;
  padding: 100px 10%;
}

.sectionHeader {
  float: left;
  min-width: 150px;
  margin-right: 60px;
  text-align: right;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: .1em;
  font-weight: 600;
  color: #FF6839;
}

.sectionContent {
  float: right;
  width: 80%;
}

.sectionContent p {
  font-size: 1em;
  line-height: 1.2em;
  margin: 0 0 20px 0;
}

#skills {
  display: flex;
  justify-content: space-between;
}

.skill_label {
  text-transform: uppercase;
  font-size: 1em;
  padding-bottom: 5px;
  font-weight: 600;
}

.skill_category ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.skill_category li {
  padding-bottom: 5px;
}

.experience {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.experience_label {
  font-weight: 600;
  padding-bottom: 5px;
}

/* .experience_dates {
  italicize?
} */

/*

#FF6839 - ORANGE
#0C0A1E - V. DARK PURPLE
#EDEAD9 - CREAM
#D58E53 - TAN

*/