body {
  font-family: 'Open Sans', sans-serif;
  font-size: .9em;
  padding: 0;
  margin: 0;
  color: #0C0A1E;
}

.hidden {
  display: none;
}

.visible {
  display: initial;
}

#main {
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
  top: 80px;
}

h1 {
  line-height: 1.3em;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 1em;
  line-height: 1.3em;
}

nav {
  padding: 20px 50px 0 0;
  height: 50px;
}

nav i {
  float: right;
  margin: 0 0 0 30px;
}

nav a {
  color: #FF6839;
}

nav a:hover {
  color: #FF6839;
}

.fixed {
  bottom: 30px;
  left: 95vw;
  position: fixed;
}

.relative {
  position: relative;
  top: -100px;
  left: 95vw;
}

.icon {
  font-size: 1.9em;
  color: #FF6839;
  cursor: pointer;
}

.icon-sm {
  font-size: 1.8em;
  color: #FF6839;
  cursor: pointer;
}

#intro {
  height: 90vh;
}

#intro_text {
  max-width: 500px;
}

.section {
  max-width: 950px;
  display: flex;
  justify-content: left;
  padding: 100px 0 100px 15%;
}

.section_header {
  float: left;
  min-width: 150px;
  margin-right: 60px;
  text-align: right;
  text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: .05em;
  color: #FF6839;
  font-family: 'Montserrat', sans-serif;
}

.section_content {
  float: right;
  width: 80%;
}

.section_content p {
  margin: 0 0 20px 0;
}

#skills {
  display: flex;
  justify-content: space-between;
}

.skill_label {
  text-transform: uppercase;
  font-size: 1.1em;
  letter-spacing: .02em;
  padding-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

.skill_category ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.skill_category li {
  padding-bottom: 2px;
}

.experience {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.experience_label {
  font-weight: 600;
  padding-bottom: 5px;
}

.experience_dates {
  text-transform: uppercase;
  font-size: 9pt;
  color: #A0A0A0;
}

.project {
  margin-bottom: 200px;
}

#last_project {
  margin-bottom: 0px;
}

.project_img {
  float: left;
  width: 450px;
}

.project_details {
  overflow: hidden;
  padding-left: 40px;
}

.project_details h4 {
  margin-top: 0px;
  font-size: 1.1em;
  letter-spacing: .05em;
}

.tech_used {
  clear: both;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 450px;
}

.tech_used ul {
  list-style: none;
  padding: 0;
}

.tech_used li {
  display: inline;
  margin-right: 15px;
  text-transform: uppercase;
  font-size: 9pt;
  color: #A0A0A0;
}

footer {
  background-color: #0C0A1E;
  width: 100%;
  position: relative;
  bottom: 0;
  margin-top: 100px;
  padding: 30px 0;
}

#footer_container {
  margin: 0 auto;
  width: 1000px;
  display: flex;
  justify-content: space-around;
}

h2 {
  color: #FF6839;
  font-size: 1.6em;
  letter-spacing: .025em;
}

footer input, textarea {
  display: inline-block;
  width: 300px;
  margin: 5px 0;
}

footer button {
  background-color: #FF6839;
  border: none;
  height: 30px;
  width: 60px;
  border-radius: 5px;
  font-size: .75em;
  margin-top: 25px;
}

.contact_container {
  width: 300px;
  color: #EDEAD9;
}

.contact_container h2 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: .05em;
}

.contact_container p {
  letter-spacing: .1em;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

#emailForm input {
  border-radius: 2px;
  padding-left: 5px;
  height: 20px;
}

#footer_container img {
  border-radius: 2px;
}

#props {
  margin: 50px 0 0 20px;
}

#props p {
  font-size: .8em;
  color: #4C3D68;
  font-weight: 300;
  letter-spacing: .09em;
  margin: 2px 0 2px 0;
}


/* 1100 PX WIDTH SCREEN */

@media screen and (max-width: 1100px) {
  #main {
    max-width: 800px;
  }

  #footer_container {
    max-width: 800px;
    justify-content: space-between;
  }

  .contact_container {
    width: 350px;
    margin-left: 80px;
  }

  .project_details {
    overflow: initial;
    padding-left: 0;
    max-width: 400px;
  }

  .project_img {
    padding-bottom: 20px;
  }
}



/* 850 PX WIDTH SCREEN */

@media screen and (max-width: 850px) {
  #main {
    max-width: 650px;
  }

  .section {
    padding-left: 0px;
  }

  .section_header {
    margin-right: 30px;
  }

  .project_img {
    width: 100%;
  }

  #footer_container {
    max-width: 650px;
    justify-content: space-between;
  }

  #footer_container img {
    width: 50%;
    height: 50%;
  }

  .contact_container {
    width: 350px;
    margin-left: 20px;
  }

  .fixed {
    left: 90vw;
  }
  
  .relative {
    left: 90vw;
  }
}



/* 700 PX WIDTH SCREEN */

@media screen and (max-width: 700px) {
  #main {
    width: 85vw;
  }

  nav {
    padding-right: 25px;
  }

  .section {
    flex-direction: column;
  }

  .section_header {
    position: static;
    text-align: left;
    height: 50px;
  }

  .section_content {
    padding-left: 30px;
    width: 65vw;
  }

  .experience {
    flex-direction: column;
    padding-bottom: 35px;
  }

  #skills {
    flex-flow: row wrap;
    width: 80vw;
  }

  .skill_category {
    width: 150px;
    margin-bottom: 20px;
  }

  .tech_used {
    width: 65vw;
  }

  #footer_container {
    width: initial;
    display: flex;
    flex-direction: column;
  }

  #footer_container img {
    width: 85%;
    margin: 0 auto;
  }

  .contact_container {
    margin: 0 auto;
    text-align: center;
  }
}

/*

#FF6839; - ORANGE
#0C0A1E; - V. DARK PURPLE
#EDEAD9; - CREAM
#D58E53; - TAN

*/