body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  color: #0C0A1E;
}

#main {
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
  top: 80px;
}

h1 {
  line-height: 1.2em;
}

nav {
  padding: 15px 50px 0 0;
  height: 50px;
}

nav img {
  float: right;
  margin: 0 0 0 30px;
}

.fixed {
  bottom: 30px;
  right: 60px;
  position: fixed;
}

.relative {
  bottom: 30px;
  left: 1050px;
  position: relative;
}

.icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

#intro {
  height: 90vh;
}

.section {
  max-width: 950px;
  display: flex;
  justify-content: left;
  padding: 100px 0 100px 15%;
}

.sectionHeader {
  float: left;
  min-width: 150px;
  margin-right: 60px;
  text-align: right;
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: .1em;
  font-weight: 600;
  color: #FF6839;
}

.sectionContent {
  float: right;
  width: 80%;
}

.sectionContent p {
  font-size: 1em;
  line-height: 1.2em;
  margin: 0 0 20px 0;
}

#skills {
  display: flex;
  justify-content: space-between;
}

.skill_label {
  text-transform: uppercase;
  font-size: 1em;
  padding-bottom: 5px;
  font-weight: 600;
}

.skill_category ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.skill_category li {
  padding-bottom: 5px;
}

.experience {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}

.experience_label {
  font-weight: 600;
  padding-bottom: 5px;
}

.experience_dates {
  text-transform: uppercase;
  font-size: 9pt;
  color: #A0A0A0;
}

.project {
  margin-bottom: 200px;
}

#last_project {
  margin-bottom: 0px;
}

.project_img {
  float: left;
  width: 450px;
}

.project_details {
  overflow: hidden;
  padding-left: 40px;
}

.project_details h4 {
  margin-top: 0px;
}

.tech_used {
  clear: both;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 450px;
}

.tech_used ul {
  list-style: none;
  padding: 0;
}

.tech_used li {
  display: inline;
  margin-right: 15px;
  text-transform: uppercase;
  font-size: 9pt;
  color: #A0A0A0;
}

footer {
  background-color: #0C0A1E;
  width: 100%;
  position: relative;
  bottom: 0;
  margin-top: 100px;
  padding: 30px 0;
}

#footer_container {
  margin: 0 auto;
  width: 1000px;
  display: flex;
  justify-content: space-around;
}

h2 {
  color: #FF6839;
  font-size: 1.6em;
  letter-spacing: .025em;
}

footer input, textarea {
  display: inline-block;
  width: 300px;
  margin: 5px 0;
}

footer button {
  background-color: #FF6839;
  border: none;
  height: 30px;
  width: 60px;
  border-radius: 5px;
  font-size: .75em;
  margin-top: 25px;
}

#contact_container {
  width: 300px;
}



/* 1100 PX WIDTH SCREEN */

@media screen and (max-width: 1100px) {
  #main {
    max-width: 800px;
  }

  #footer_container {
    max-width: 800px;
    justify-content: space-between;
  }

  #contact_container {
    width: 350px;
    margin-left: 80px;
  }

  .project_details {
    overflow: initial;
    padding-left: 0;
    max-width: 400px;
  }

  .project_img {
    padding-bottom: 20px;
  }
}



/* 850 PX WIDTH SCREEN */

@media screen and (max-width: 850px) {
  #main {
    max-width: 650px;
  }

  .section {
    padding-left: 0px;
  }

  .sectionHeader {
    margin-right: 30px;
  }

  .project_img {
    width: 100%;
  }

  #footer_container {
    max-width: 650px;
    justify-content: space-between;
  }

  #footer_container img {
    width: 50%;
    height: 50%;
  }

  #contact_container {
    width: 350px;
    margin-left: 20px;
  }
}



/* 700 PX WIDTH SCREEN */

@media screen and (max-width: 700px) {
  #main {
    width: 85vw;
  }

  .section {
    flex-direction: column;
  }

  .sectionHeader {
    position: static;
    text-align: left;
    height: 50px;
  }

  .sectionContent {
    padding-left: 50px;
    width: 65vw;
  }

  .experience {
    flex-direction: column;
    padding-bottom: 35px;
  }

  #skills {
    flex-flow: row wrap;
  }

  .skill_category {
    width: 150px;
    margin-bottom: 20px;
  }

  .tech_used {
    width: 65vw;
  }

  #contactform input, textarea {
    border-radius: 5px;
  }

  #footer_container {
    width: initial;
    display: flex;
    flex-direction: column;
  }

  #footer_container img {
    width: 85%;
    margin: 0 auto;
  }

  #contact_container {
    margin: 0 auto;
    text-align: center;
  }

  #contact_container h2 {
    font-size: 2em;
  }
}



/*

#FF6839; - ORANGE
#0C0A1E; - V. DARK PURPLE
#EDEAD9; - CREAM
#D58E53; - TAN

*/